node_modules
.svelte-kit
build
dist
.git
.github
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
!.env.example
playwright-report
test-results
e2e
*.spec.ts
*.test.ts
README.md
docs
archive
