# Project Specific
test-results
archive/

# Node
node_modules

# IDE
./vscode

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.storybook
*storybook.log
storybook-static

# Gemini
.gemini
.kilocode/rules/SHADCN.md
/tasks

git.log
PR.md
