# Project Specific
test-results
archive/
playwright-report/

# Node
node_modules
.pnpm-store

# IDE
./vscode

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/build-test

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.storybook
*storybook.log
storybook-static

# Gemini
.gemini
.kilocode/rules/SHADCN.md
/tasks

git.log
PR.md
scripts/load-env.ps1
scripts/run-with-env.ps1
static/config.github.json

# tailwind logs
tailwind.config.js.timestamp-*
tailwind.log
tailwindcss-*.log
static/config.live.json
